
<!DOCTYPE html>
<html class="no-js"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Results</title>
        <link rel="icon" href="https://cdn0.iconfinder.com/data/icons/social-media-entertainment-line/32/IMDb-512.png" type="image/icon type">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap" rel="stylesheet">

       
<style>
    .jumbotron {
        background:none;
    }
    body{
                font-family: 'Libre Caslon Display', serif;
            }
    a{
        color:black;
    }
</style>
    </head>
    <body>
        <div class="container ">
            <div class="jumbotron">
                <h1 class="display-4">Results</h1>
              </div>
        
        
        <% if(data.Search){ %>
        <% data.Search.forEach((movie)=>{  %>
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-deck mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="<%= movie.Poster %>" alt=" " class="mx-3 mt-1"/>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body mx-5 text-left text-md-right">
                          <h3 class="card-title"><%= movie.Title %></h3>
                          <p class="card-text"><em>(<%= movie.Year %>)</em></h4>
                          <h4 class="card-text"><small class="text-muted"><%= movie.Type %></small></p>
                          <a href="/browse/<%= movie.imdbID %>" class="btn btn-outline-info">More info</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          
          <%   }); %>
        
          <% } else { %>
         
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>No Such Movie</strong> You should put in the correct spelling.
              </div>
          <% } %>  
        
          <div class="text-center">
            <a href="/" class="btn btn-outline-primary my-5">Search for more Movies</a>
        </div>
     
        
        </div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        
        <script src="" async defer></script>
    </body>
</html>



